/* Palettes: http://www.color-hex.com/color-palette/2280 */
body.dark{
  background: #65737e;
}

body{
  margin: 0;
  padding: 0;
  background: white;
  font-family: sans-serif;
}

:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
}

#topBar{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 30px;

  background: rgba(79, 91, 102, 0.1);

  -webkit-app-region: drag;
}

#topBar.dark{
  background: rgba(79, 91, 102, 0.4);
}

.fullScreen{
  position: fixed;
  top: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-align: center;
}

.fullScreen.fullWindow{
  top: 0;
  left: 0;
}

#passwordContainer{
  width: 80%;

  text-align: center;
  color: #000000;

  border: none;
  border-bottom: solid 1px rgba(200,200,200,0.5);
  background: transparent;

  font-family: monospace;
  /*border-radius: 5px;*/
  font-size: 15pt;
}

#passwordContainer.dark{
  color: #ffffff;
}

button{
  padding: 10px 10px;

  border: solid 1px grey;
  border-radius: 5px;
  background: #fafafa;

  font-size: 10pt;
}

button:hover{
  background: #ffffff;
}

button:active{
  background: #fafafa;
}

#generatePassword, #generateBytes{
  display: inline-block;

  width: 200px;
  margin: 0px;
  margin-bottom: 30px;
}

#generatePassword{
  margin-right: 20px;

  border-right: solid 1px grey;
}

#toClipboard{
  width: 127px;
  margin-top: 30px;
}

#showPassword{
  width: 127px;
}

#settingButton{
  background: url(iconmonstr-gear-1-light.svg);
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  transition: transform 0.2s ease-in-out;
}

#settingButton.dark{
  background: url(iconmonstr-gear-1.svg);
}

#settingButton:hover{
  transition: transform 0.2s ease-in-out;
  transform: rotateZ(30deg);
}

#setting.show{
  background: rgba(0,0,0,0.8);
  z-index: 100;
  display: block;
}

#setting{
  display: none;
  padding-top: 20px;
}

#setting ul li{
  text-align: justify;
  color: #ffffff;
  list-style: none;
}

.closeButton{
  position: fixed;
  background: url('iconmonstr-x-mark-1.svg');
  width: 20px;
  height: 20px;
  left: 10px;
  bottom: 10px;
}

.multiButton{
  border-radius: 0;
}

.button-short{
  padding: 3px 10px;
}

.multiButton-left{
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.multiButton-right{
  border-radius: 0 5px 5px 0;
}
